{% extends 'adsi/base.html' %} {% block titulo %}Listado de Aprendices{% endblock %} {% block contenedor %}


<div class="container">
    <h1 class="mifuente" style="text-align: center">Aprendices</h1>
    <table class="table table-striped">
        <tr>
            <th class="mifuente">Nombre</th>
            <th class="mifuente">Apellido</th>
            <th class="mifuente">Rol</th>
            <th class="mifuente">Acciones</th>

        </tr>
        <tbody>
            {% for registro in datos %}
            <tr>
                <td>{{ registro.nombre }}</td>
                <td>{{ registro.apellido }}</td>
                <td>{{ registro.get_rol_display }}</td>
                <td>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAprendiz" onclick="verAprendiz(' {% url 'adsi:verAprendiz' registro.id %}')">Ver</button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAprendiz" onclick="verAprendiz2(' {% url 'adsi:verAprendizJson' registro.id %}')">Ver Json</button>
                    <a href="{% url 'adsi:editarAprendices' registro.id %}">Editar</a> -
                    <a href="{% url 'adsi:eliminarAprendiz' registro.id %}">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'adsi:crearAprendiz' %}">Crear Aprendiz</a>
</div>



<!-- Modal -->
<div class="modal fade" id="modalAprendiz" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" id="resultado">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}