{% extends 'adsi/base.html' %}
{% block titulo %}Editar Aprendiz{% endblock %}

{% block contenedor %}

        <h1>Editar Aprendiz {{ datos.id }}</h1>
        <form action="{% url 'adsi:actualizarAprendiz' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ datos.id }}" readonly="readonly"/>
            <input type="text" name="nombre" value="{{ datos.nombre }}" placeholder="Nombres" required="required"/>
            <br><input type="text" name="apellido" value="{{ datos.apellido }}" placeholder="Apellidos"/>
            <br><input type="email" name="correo" value="{{ datos.correo }}" placeholder="Correo"/>
            <br><input type="number" name="identificacion" value="{{ datos.identificacion }}" placeholder="Cédula"/>
            <br><input type="text" name="usuario" value="{{ datos.usuario }}" placeholder="Nombre de Usuario"/>
            <br><input type="password" name="clave" value="{{ datos.clave }}" placeholder="Contraseña"/>
            <br>
            <input type="submit" value="Actualizar"/>
        </form>
{% endblock %}