{% extends 'adsi/base.html' %}
{% block titulo %}Listado de Fichas{% endblock %} 

{% block contenedor %}
 
<div class="container">
    <h1 class="mifuente" style="text-align: center">Fichas</h1>
    <table class="table table-striped">
        <tr>
            <th class="mifuente">Aprendiz</th>
            <th class="mifuente">Codigo</th>
            <th class="mifuente">Programa</th>
            <th class="mifuente">Acciones</th>

        </tr>
        <tbody>
            {% for registro in fichas %}
            <tr>
                <td>{{ registro.aprendiz }}</td>
                <td>{{ registro.codigo }}</td>
                <td> {{ registro.programa}} </td>
                <td>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAprendiz" onclick="verAprendiz(' {% url 'adsi:verAprendiz' registro.id %}')">Ver</button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAprendiz" onclick="verAprendiz2(' {% url 'adsi:verAprendizJson' registro.id %}')">Ver Json</button>
                    <a href="{% url 'adsi:editarAprendices' registro.id %}">Editar</a> -
                    <a href="{% url 'adsi:eliminarAprendiz' registro.id %}">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'adsi:crearAprendiz' %}">Crear Aprendiz</a>
</div>   

{% endblock %}